<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Shift Management</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Shift Management</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/employees}">Shift Management</a>
      </li>
     </ul>
  </div>
</nav>
<br>
<br>

	<div class = "container">
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update new shift</h1>
				<div class = "card-body">
					<form th:action="@{/employees/{id} (id=${employee.id})}" th:object ="${employee}" method="POST">
						<div class ="form-group">
							<label>Employee first name</label>	
							<input
							type= "text"
							name= "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder = "Enter employee first name"
							/>
						</div>
						
						<div class ="form-group">
							<label>Employee last name</label>	
							<input
							type= "text"
							name= "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder = "Enter employee last name"
							/>
						</div>
						
						<div class ="form-group">
							<label>Employee phone number</label>	
							<input
							type= "text"
							name= "phoneNo"
							th:field = "*{phoneNo}"
							class = "form-control"
							placeholder = "Enter employee phone number"
							/>
						</div>
						
						<div class ="form-group">
							<label>Shift type</label>	
							<input
							type= "text"
							name= "shiftType"
							th:field = "*{shiftType}"
							class = "form-control"
							placeholder = "Enter employee shift type"
							/>
						</div>
						
						<div class ="form-group">
							<label>Shift hour</label>	
							<input
							type= "text"
							name= "shiftHour"
							th:field = "*{shiftHour}"
							class = "form-control"
							placeholder = "Enter shift hour"
							/>
						</div>
						<div class ="box-footer">
							<button type="submit" class ="btn btn-primary">Submit</button>							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>